<h1>Groups</h1>
<%= link_to 'Back', user_url(@user) %>

<br>

<% if !@groups.empty? %>
  <% @groups.each do |group| %>
    <%= link_to group.name, user_group_url(id: group.id, user_id: @user.id) %>
  <% end %>
<% else %>
  <p>You are not a member of any groups yet.</p>
<% end %>
<br><br>
<%= link_to "Create a group", new_group_url %>