<h1>Profile</h1>

<h2>Groups</h2>
<%# Could display first three groups, then offer a button to link to the groups index page (if user has more than three groups) %>
<%# Links to join or create groups %>

<h2>Friends</h2>
<%# Display friends list %>
<%# Link to send a friend request %>

<%# This section should only be visible on a user's own show page %>
<h2>Friend Requests</h2>
<h3>Sent requests</h3>
<ul>
  <% current_user.friend_requests.each do |fr| %>
    <% if fr.requester_id == current_user.id %>
      <% requestee = User.find_by(id: fr.requestee_id) %>
      <li><%= requestee.name %> <%= link_to "(Profile)", user_url(requestee) %></li>
    <% end %>
  <% end %>
</ul>

<h3>Your requests</h3>
<ul>
  <% current_user.friend_requests.each do |fr| %>
    <% if fr.requestee_id == current_user.id %>
      <% requester = User.find_by(id: fr.requester_id) %>
      <li><%= requester.name %> <%= link_to "(Profile)", user_url(requester) %></li>
    <% end %>
  <% end %>
</ul>