<h1>Friend Requests</h1>


<h3>Sent requests</h3>
<ul>
  <% @user.friend_requests.each do |fr| %>
    <% if fr.requester_id == @user.id %>
      <li><%= User.find_by(id: fr.requestee_id).name %></li>
    <% end %>
  <% end %>
</ul>

<h3>Your requests</h3>