<h1>Add friend</h1>

<%# Make form tags and figure out how to do a search %>
<label for="name_search">Search by name</label>
<input type="search" name="name" id="name_search">
<input type="submit" value="Search">

<%# List out other users that the current user can send friend requests to %>